/* Global styles */

@import './content-variables.scss';


// $tt-property-header-outline: #f7f7f7;
$tt-property-header-outline: #ccc;
// $tt-property-header-outline: red;
$tt-property-header-background: #f7f7f7;
$tt-property-header-color: #666;
$tt-property-grid: #f0f0f0;
$c-property-label-color: #666;
$c-property-value-color: #88a;

/* Properties Panel */
.tt-property-header {
  border-top: solid 1px $tt-property-header-outline;
  background-color: $tt-property-header-background;
  border-bottom: solid 1px $tt-property-header-outline;
  color: $tt-property-header-color;
  height: 20px;
  font-size: 13px;
}
.c-element-properties {
  display: block;
  margin-bottom: 2px;
}
.tt-property {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.c-property-label {
  display: block;
  flex: 1 0 0;
  text-align: right;
  padding-right: 8px;
  border-bottom: solid 1px $tt-property-grid;
  border-right: solid 1px $tt-property-grid;
  margin: 0px;
  margin-top: 6px;
  font-size: 12px;
  line-height: 18px;
  color: $c-property-label-color;
}
.c-property-value {
  display: block;
  flex: 2.5 0 0;
  text-align: left;
  padding-left: 8px;
  border-bottom: solid 1px $tt-property-grid;
  margin: 0px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: $c-property-value-color;
}
.tt-property-footer {
  border-bottom: solid 1px $tt-property-header-outline;
}
.input.tt-string-input {
  font-size: 13px;
  padding: 2px !important;
  border: none;
  //margin: 2px;
  //background-color: red;
}

// Make the slides responsive
// From https://productforums.google.com/forum/#!topic/docs/tuufSoBoxKc
.content-google-slides-embed-container {
  position: relative;
  padding-bottom: 48.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;

}
.content-google-slides-embed-container iframe,
.content-google-slides-embed-container object,
.content-google-slides-embed-container embed {
  position: absolute;
  top: 3%;
  left: 2%;
  right: 2%;
  width: 96%;
  height: 96%;
}


.c-layout-mode-heading {
  display: relative;
  height: $c-heading-height;
  line-height: $c-heading-height;
  background-color: lightgreen;
  font-size: $c-heading-font-size;
  color: darkgreen;
  margin-bottom: 1px;
  position: relative;

  .c-heading-icons {
    position: absolute;
    right: 5px;
    padding-top: 1px;

    i {
      margin-left: 4px;
      cursor: pointer;
    }
  }
}
