
/*
 *  Toolbox icons
 */
.c-icon-section {
  background-image: url("../icons/icon-section-26.png");
}
.c-icon-columns {
  background-image: url("../icons/icon-columns-26.png");
}
.c-icon-container {
  background-image: url("../icons/icon-container-26.png");
}
.c-icon-youtube {
  background-image: url("../icons/icon-youtube-26.png");
}
.c-icon-text {
  background-image: url("../icons/icon-text-26-2.png");
}
.c-icon-vimeo {
  background-image: url("../icons/icon-vimeo-26.png");
}
